* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid #d4dde4;
    width: 100%;
    flex-direction: column-reverse;
}

.header .header-nav .header-nav___items .header-nav___item {
    font-size: 1.8rem;
    display: inline-block;
    margin: 10px;
    color: #5d5b5b;
}

.side-bar, .main-content {
    display: inline-block;
}

.side-bar {
    background-color: #f2f2f2;
    border-right: 10px solid #d4dde4;
    padding: 15px;
    margin: 5px;
}


.side-bar .side-bar___item {
    background-color: #5d5b5b6b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.side-bar .side-bar___item img {
    width: 150px;
}

.Pokemon{
    background-color: rgb(208, 255, 0);
    border: solid black;
    width: 30%;
    display: inline-block;
    margin-left: 300px;
    margin-top: 50px;
    position: absolute;
}

.Pokemon h2 {
    background-color: rgb(208, 255, 0);
    border: black solid;
    position: absolute;
    margin-left: 150px;
    margin-top: -15px;
    width: 11.2rem;
    font-size: 3rem;
}

.Pokemon .img-pikachu img{
    width: 100%;
}

.Pokemon h3 {
    background-color: rgb(208, 255, 0);
    border: black solid;
    font-size: 2rem;
    width: 40%;
    margin: 5px;
    display: inline-block;
}

.Pokemon p {
    background-color: rgb(0, 255, 170);
    border: black solid;
    font-size: 2rem;
    width: 90%;
    margin: 5px;
}

footer{
        background-color: rgb(83, 83, 253);
        background-size: 300px 65px;
        height: 10%;
        width: 100%;
        padding: 1px;
      }
footer p{
        bottom: 0;
        margin: 30px;
        width: 250px;
        height: 40px;
        padding: 10px;
        background-color: rgb(219, 129, 255);
        border-radius: 20px;
        font-size: 2rem;
      }